<configuration>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>-->
  <appSettings>
    <add key="xmltv-uri" value="http://xmltv.net/xml_files/Adelaide.xml"/>
    <add key="xmltv-name" value="Adelaide"/>
    <add key="xmltv-location" value="Adelaide, Australia"/>
    <add key="callsign-1" value="10 HD"/>
    <add key="callsign-2" value="ABC TV"/>
    <add key="callsign-3" value="9HD Adelaide"/>
    <add key="callsign-7" value="7 Adelaide"/>
    <add key="callsign-9" value="Channel 9 Adelaide"/>
    <add key="callsign-10" value="10"/>
    <add key="callsign-11" value="10 Peach"/>
    <add key="callsign-12" value="10 BOLD"/>
    <add key="callsign-13" value="10 SHAKE"/>
    <add key="callsign-15" value="10 HD"/>
    <add key="callsign-16" value="TVSN"/>
    <add key="callsign-17" value="SpreeTV"/>
    <add key="callsign-20" value="ABCTV HD"/>
    <add key="callsign-21" value="ABC TV"/>
    <add key="callsign-22" value="ABCKids/TVPlus"/>
    <add key="callsign-23" value="ABC ME"/>
    <add key="callsign-24" value="ABC NEWS"/>
    <add key="callsign-25" value="ABC ADELAIDE"/>
    <add key="callsign-26" value="ABC RN"/>
    <add key="callsign-27" value="ABC Classic"/>
    <add key="callsign-28" value="triple j"/>
    <add key="callsign-29" value="triple j Unearthed"/>
    <add key="callsign-30" value="SBS ONE HD"/>
    <add key="callsign-31" value="SBS VICELAND HD"/>
    <add key="callsign-32" value="SBS World Movies"/>
    <add key="callsign-33" value="SBS Food"/>
    <add key="callsign-34" value="NITV"/>
    <add key="callsign-36" value="SBS Arabic24"/>
    <add key="callsign-37" value="SBS Radio"/>
    <add key="callsign-38" value="SBS Radio "/>
    <add key="callsign-39" value="SBS Chill"/>
    <add key="callsign-44" value="44 Adelaide"/>
    <add key="callsign-70" value="7HD Adelaide"/>
    <add key="callsign-71" value="7 Adelaide"/>
    <add key="callsign-72" value="7TWO Adelaide"/>
    <add key="callsign-73" value="7mate Adelaide"/>
    <add key="callsign-74" value="7mateHD Adelaide"/>
    <add key="callsign-75" value="openshop"/>
    <add key="callsign-76" value="7flix Adelaide"/>
    <add key="callsign-78" value="RACING.COM"/>
    <add key="callsign-90" value="9HD Adelaide"/>
    <add key="callsign-91" value="Channel 9 Adelaide"/>
    <add key="callsign-92" value="9Gem Adelaide"/>
    <add key="callsign-93" value="9Go! Adelaide"/>
    <add key="callsign-94" value="9Life Adelaide"/>
    <add key="callsign-95" value="9GemHD Adelaide"/>
    <add key="callsign-96" value="9Rush Adelaide"/>
    <add key="callsign-97" value="Extra"/>
    <add key="callsign-99" value="9Go! Adelaide"/>
    <add key="callsign-200" value="Double J"/>
    <add key="callsign-201" value="ABC Jazz"/>
    <add key="callsign-202" value="ABC KIDS Listen"/>
    <add key="callsign-203" value="ABC Country"/>
    <add key="callsign-204" value="ABC NewsRadio"/>
    <add key="callsign-301" value="SBS Radio 1"/>
    <add key="callsign-302" value="SBS Radio 2"/>
    <add key="callsign-303" value="SBS Radio 3"/>
    <add key="callsign-304" value="SBS Arabic24"/>
    <add key="callsign-305" value="SBS PopDesi"/>
    <add key="callsign-306" value="SBS Chill"/>
    <add key="callsign-307" value="SBS PopAsia"/>
    <add key="logo-1" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/10hd.png"/>
    <add key="logo-2" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abc.png"/>
    <add key="logo-3" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsone.png"/>
    <add key="logo-7" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7.png"/>
    <add key="logo-9" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9.png"/>
    <add key="logo-10" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/10.png"/>
    <add key="logo-11" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/10peach.png"/>
    <add key="logo-12" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/10bold.png"/>
    <add key="logo-13" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/10shake.png"/>
    <add key="logo-15" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/10hd.png"/>
    <add key="logo-16" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/tvsn.png"/>
    <add key="logo-17" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/spreetv.png"/>
    <add key="logo-20" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abchd.png"/>
    <add key="logo-21" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abc.png"/>
    <add key="logo-22" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abccomedykids.png"/>
    <add key="logo-23" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcme.png"/>
    <add key="logo-24" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcnews.png"/>
    <add key="logo-25" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcadelaide.png"/>
    <add key="logo-26" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcrn.png"/>
    <add key="logo-27" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcclassic.png"/>
    <add key="logo-28" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/triplej.png"/>
    <add key="logo-29" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/triplejunearthed.png"/>
    <add key="logo-30" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbshd.png"/>
    <add key="logo-31" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsvicelandhd.png"/>
    <add key="logo-32" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsworldmovies.png"/>
    <add key="logo-33" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsfood.png"/>
    <add key="logo-34" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/nitv.png"/>
    <add key="logo-36" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsarabic24.png"/>
    <add key="logo-37" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsradio1.png"/>
    <add key="logo-38" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsradio2.png"/>
    <add key="logo-39" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbschill.png"/>
    <add key="logo-44" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/44adelaide.png"/>
    <add key="logo-70" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7hd.png"/>
    <add key="logo-71" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7.png"/>
    <add key="logo-72" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7two.png"/>
    <add key="logo-73" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7mate.png"/>
    <add key="logo-74" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7matehd.png"/>
    <add key="logo-75" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/openshop.png"/>
    <add key="logo-76" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/7flix.png"/>
    <add key="logo-78" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/racingcom.png"/>
    <add key="logo-90" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9hd.png"/>
    <add key="logo-91" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9.png"/>
    <add key="logo-92" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9gem.png"/>
    <add key="logo-93" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9go.png"/>
    <add key="logo-94" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9life.png"/>
    <add key="logo-95" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9gemhd.png"/>
    <add key="logo-96" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9rush.png"/>
    <add key="logo-97" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/extra.png"/>
    <add key="logo-99" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/9go.png"/>
    <add key="logo-200" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/doublej.png"/>
    <add key="logo-201" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcjazz.png"/>
    <add key="logo-202" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abckidslisten.png"/>
    <add key="logo-203" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abccountry.png"/>
    <add key="logo-204" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/abcnewsradio.png"/>
    <add key="logo-301" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsradio1.png"/>
    <add key="logo-302" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsradio2.png"/>
    <add key="logo-303" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsradio3.png"/>
    <add key="logo-304" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbsarabic24.png"/>
    <add key="logo-305" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbspopdesi.png"/>
    <add key="logo-306" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbschill.png"/>
    <add key="logo-307" value="https://raw.githubusercontent.com/L2N6H5B3/Adelaide-WMC-TV-Logos/main/sbspopasia.png"/>
  </appSettings>
</configuration>
