<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="1" value="10 HD" />
    <add key="2" value="ABC TV" />
    <add key="3" value="9HD Adelaide" />
    <add key="7" value="7 Adelaide" />
    <add key="9" value="Channel 9 Adelaide" />
    <add key="10" value="10" />
    <add key="11" value="10 Peach" />
    <add key="12" value="10 BOLD" />
    <add key="13" value="10 SHAKE" />
    <add key="15" value="10 HD" />
    <add key="16" value="TVSN" />
    <add key="17" value="SpreeTV" />
    <add key="20" value="ABCTV HD" />
    <add key="21" value="ABC TV" />
    <add key="22" value="ABCKids/TVPlus" />
    <add key="23" value="ABC ME" />
    <add key="24" value="ABC NEWS" />
    <add key="25" value="ABC ADELAIDE" />
    <add key="26" value="ABC RN" />
    <add key="27" value="ABC Classic" />
    <add key="28" value="triple j" />
    <add key="29" value="triple j Unearthed" />
    <add key="30" value="SBS ONE HD" />
    <add key="31" value="SBS VICELAND HD" />
    <add key="32" value="SBS World Movies" />
    <add key="33" value="SBS Food" />
    <add key="34" value="NITV" />
    <add key="36" value="SBS Arabic24" />
    <add key="37" value="SBS Radio" />
    <add key="38" value="SBS Radio " />
    <add key="39" value="SBS Chill" />
    <add key="44" value="44 Adelaide" />
    <add key="70" value="7HD Adelaide" />
    <add key="71" value="7 Adelaide" />
    <add key="72" value="7TWO Adelaide" />
    <add key="73" value="7mate Adelaide" />
    <add key="74" value="7mateHD Adelaide" />
    <add key="75" value="openshop" />
    <add key="76" value="7flix Adelaide" />
    <add key="78" value="RACING.COM" />
    <add key="90" value="9HD Adelaide" />
    <add key="91" value="Channel 9 Adelaide" />
    <add key="92" value="9Gem Adelaide" />
    <add key="93" value="9Go! Adelaide" />
    <add key="94" value="9Life Adelaide" />
    <add key="95" value="9GemHD Adelaide" />
    <add key="96" value="9Rush Adelaide" />
    <add key="97" value="Extra" />
    <add key="99" value="9Go! Adelaide" />
    <add key="200" value="Double J" />
    <add key="201" value="ABC Jazz" />
    <add key="202" value="ABC KIDS Listen" />
    <add key="203" value="ABC Country" />
    <add key="204" value="ABC NewsRadio" />
    <add key="301" value="SBS Radio 1" />
    <add key="302" value="SBS Radio 2" />
    <add key="303" value="SBS Radio 3" />
    <add key="304" value="SBS Arabic24" />
    <add key="305" value="SBS PopDesi" />
    <add key="306" value="SBS Chill" />
    <add key="307" value="SBS PopAsia" />
  </appSettings>
</configuration>